.navbar.navbar-fixed-top
    .navbar-inner
        .container-fluid
            %a{ :class => "btn btn-navbar",
                :data => {:toogle => "collpse", :target => ".nav-collapse"}}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            %a.brand{:href => "#"}
                %img{:src => "/assets/dportales.png"}
                %span
                    Organización Educacional
                %span
                    DIEGO PORTALES
