%div.span10
    %ul.nav.nav-pills
        %li.active
            %a{:href => "#"}Informes
        %li.dropdown
            %a.dropdown-toggle{:href => "#matriculados", "data-toggle" => "dropdown"}
                Matriculados
                %b.caret
            %ul.dropdown-menu
                %li
                    %a{:href => '#'} 
                        Trabajador
                        %b.caret
                    %ul.dropdown-menu.sub-menu
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                pdf
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                excel
                        %li
                            %a{:href => '#modalGraficos', "data-toggle" => "modal"}
                                %i.icon-list-alt
                                Gráfico  
                %li
                    %a{:href => "#"}
                        Sede
                    %ul.dropdown-menu.sub-menu
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                pdf
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                excel
                        %li
                            %a{:href => '#modalGraficos', "data-toggle" => "modal"}
                                %i.icon-list-alt
                                Gráfico  
                %li
                    %a{:href => "#"}
                        Jornada
                    %ul.dropdown-menu.sub-menu
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                pdf
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                excel
                        %li
                            %a{:href => '#modalGraficos', "data-toggle" => "modal"}
                                %i.icon-list-alt
                                Gráfico  
                %li
                    %a{:href => "#"}
                        Nivel
                    %ul.dropdown-menu.sub-menu
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                pdf
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                excel
                        %li
                            %a{:href => '#modalGraficos', "data-toggle" => "modal"}
                                %i.icon-list-alt
                                Gráfico  
        %li.dropdown
            %a.dropdown-toggle{:href => "#matriculados", "data-toggle" => "dropdown"}
                Inscritos
                %b.caret
            %ul.dropdown-menu
                %li
                    %a{:href => '#'} 
                        Trabajador
                        %b.caret
                    %ul.dropdown-menu.sub-menu
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                pdf
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                excel
                        %li
                            %a{:href => '#modalGraficos', "data-toggle" => "modal"}
                                %i.icon-list-alt
                                Gráfico  
                %li
                    %a{:href => informe_alumnos_sedes_path}
                        Sede
                    %ul.dropdown-menu.sub-menu
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                pdf
                        %li
                            %a{:href => "#"}
                                %i.icon-list-alt
                                excel
                        %li
                            %a{:href => '#modalInformeSedes', "data-toggle" => "modal"}
                                %i.icon-list-alt
                                Gráfico

                %li
                    %a{:href => "#"}
                        Jornada
                %li
                    %a{:href => "#"}
                        Nivel
                %li
                    %a{:href => "#"}
                        Antiguedad