.alert.alert-warning{style: 'padding:30px none 30px none;font-size:18px;border:2px inset gray;'}
	%a.close{:href => "#", :data => {:dismiss => "alert"}}
		×
	%h4.alert-heading{style: 'font-size:20px;margin-bottom:20px;'} Atención
	= raw mensaje
