- unless @planes_estudiados.blank?
	:javascript
		$(document).ready(function() {
			$("form.carreras-estudiadas").validate({
				invalidHandler: function(form, validator) {
					notify_info("Existen campos sin información", "Por favor, verifique que todos los campos obligatorios del formulario tengan información.");
				},
				submitHandler: function(form) {
					var url = $('form.carreras-estudiadas select').val();
					location.href = url;
				}
			})
			var val = $("form.carreras-estudiadas select option[value$='#{@plan_consultado[:inscripcion].id}']").val();
			$("form.carreras-estudiadas select").val(val);
		})

	= form_tag "#", :class => "carreras-estudiadas", :method => "get" do
		%fieldset
			%legend Selección del plan de estudios
			%ul
				%li.ui-helper-clearfix
					%div.contenedorElemento.separador
						%label Plan de estudio
						%select.required{:name => ""}
							%option{:value => ""} :: Seleccione un plan de estudios ::
							- @planes_estudiados[:planes_estudiados].each do |plan|
								%option{:value => "#{current_url @usuario.id, plan[:alumno_plan_estudio_id]}"}
									= plan[:plan_estudio].nombre+" "+plan[:alumno_plan_estudio].periodo.nombre+" ("+plan[:alumno_plan_estudio].institucion_sede_plan.institucion_sede.sede.nombre+")"
					%div.contenedorElemento.separador
						%input.btn.btn-primary{:type => "submit", :style => "margin-top: 19px;", :value => "Consultar"}
					%div.contenedorElemento.separador
						%a.not-print.btn.btn-info.impresion{:href => "#", :style => "margin-top: 19px;"}
							%i.icon-white.icon-print
							Imprimir