.sectionHeader
    %ul.breadcrumb
        %li
            Mantenedores
            %span.divider / 
        %li.active 
            Sección
            %span.divider /
        %li
            Modificar


= render partial: 'form'