%div.well    
    %form{:id => 'frmFiltrarCarrera', :method => "post" , :action => action }

        %input.input-large.search-query{:name => "buscar[rut]", :type => "text", :placeholder => "Ej.: 123456789-0"}
        %button.btn.btn-primary Buscar Alumno  