:css
	p {
		font-size: 12px !important;
		text-align: justify !important;
		line-height: 12px !important;
	}

	h1 {
		font-size: 20px !important;
	}
	table.montos-comprometidos.pagare tbody td { border-top: none !important; border-bottom: none !important; }
	table.montos-comprometidos.pagare tbody tr { border: none !important; }
	table { width: auto !important; margin: 0 auto 20px auto !important; }
	table caption { margin: 0 0 7px 0 !important; padding: 0 !important; font-size: 10px !important; font-weight: bold; text-align: center; }
	.table-condensed th, .table-condensed td { line-height: 10px !important }
	.page-header { border: none !important; padding: 0 !important; }
	span.mayuscula { text-transform: uppercase; }

	p.descuento { margin-top: 15px; }

	.firmas { 
		text-transform: uppercase; 
		position: relative;
	}
	.firmas > span { padding: 5px 20px; border-top: 1px solid black;}
	.firmas .alumno { float: left; }
	.firmas .apoderado { float: right; }
	.firmas .rector { clear: both; margin-top: 15px; text-align: center !important; position: relative; z-index: 5; }
	.firmas > img { position: absolute; left: 42%; top: -65px; }
	.firmas .rector span { margin-bottom: 5px; display: block; font-size: 13px !important; }
	.firmas .ejecutivo { margin-top: 15px; }
	p.importante { 
		line-height: normal !important; 
		margin-bottom: 3px !important; 
		font-size: 11px !important; 
		text-transform: uppercase; 
		height: 15px;
		text-align: left !important;
	}

	div.valores { text-align: center; }
	div.valores table { display: inline-block; vertical-align: top; }
	div.detalle { margin-bottom: 80px; }
	table.table tbody td, 
	table.table thead th { 
		padding: 2px !important; 
	}